# Copy to /data/adb/cfyouxuanip/config.env on the Android device.
# Keep this file private after filling in the values.
CFY_REPO='shark-wan/CFyouxuanIP'
CFY_BRANCH='main'
CFY_GITHUB_TOKEN='REPLACE_WITH_GITHUB_TOKEN'
CFY_SUB_URL='https://example.invalid/sub?token=REPLACE_ME'
CFY_DEVICE_ID='android-16-01'
CFY_GITHUB_PROXY=''
CFY_BOOTSTRAP_PROXY=''
CFY_AUTO_PROXY='1'
CFY_PROXY_PORT='10809'
CFY_POLL_SECONDS='3600'
CFY_TEST_URL='https://proof.ovh.net/files/10Mb.dat'
CFY_TEST_BYTES='131072'
